.nav-btn {
    margin: 5px 15px 0px 15px;
}
.color-scheme-grey {
    background-color: #f1f2f2;
    color: #666;
}
.color-scheme-white {
    background-color: #fff;
    color: #666;
}
.home1-title {
    margin-top: 40px;
    padding: 12px 21px;
}
.home2-title {
    padding: 12px 21px;
}
.search {
    padding-bottom: 30px;
}
.sf-va {
    padding-top: 45px;
}
.red {
    color: #d9230f;
}
.city {
    font-size: 1.2em;
}
.card.card-link {
    cursor: pointer;
    position: relative;
}
.likar-info {
    height: 100px;
    margin-bottom: 10px;
}
.float-left {
    float: left;
}
.social_line {
    list-style: none outside none;
    padding: 0;
}
.social_line li {
    display: inline;
}
.social_line li a {
    margin: 0 5px;
}
.log-soc {
    margin: 20px 0 20px;
}
.log-em {
    margin: 40px 0 20px;
}

/*______FOOTER_____*/
footer hr.lykar-separator{
    margin-top:0;
}
span.lykar-copyright{
    font-size: 0.8em;
}

/*______PROFILE_____*/
div.lykar-btn-add-fb {
    margin-top: 50px;
    margin-bottom: 25px;
}

/*______REVIEW_____*/
div.lykar-top-padding{
    padding-top: 60px;
}