.nav-btn {
    margin: 5px 15px 0px 15px;
}
.color-scheme-grey {
    background-color: #f1f2f2;
    color: #666;
}
.color-scheme-white {
    background-color: #fff;
    color: #666;
}
.likar-map {

    height: 250px;
}
.home1-title {
    margin-top: 40px;
    padding: 12px 21px;
}
.home2-title {
    padding: 12px 21px;
}
.search {
    padding-bottom: 30px;
}
.sf-va {
    padding-top: 45px;
}
.red {
    color: #d9230f;
}
.city {
    font-size: 1.2em;
}
.card.card-link {
    cursor: pointer;
    position: relative;
}
.likar-info {
    height: 100px;
    margin-bottom: 10px;
}
.color-scheme-dark-grey {
    background-color: #e6e7e8;
    height: 100px;
}