{% extends "adminpanel/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Review details" %}{% endblock %}

{% block content %}
    <h3>{% trans "Review details" %}</h3>
    <div class="row">
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>{% trans "Customer:" %}</dt>
                <dd>{{ review.customer }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{% trans "Created:" %}</dt>
                <dd>{{ review.time_stamp }}</dd>
            </dl>
            <p>
                <a href="{% url 'adminpanel:reviews:update-review' review.id %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                    {% trans "edit" %}
                </a>
                <a href="{% url 'adminpanel:reviews:delete-review' review.id %}" role="button" class="btn btn-primary btn-sm">
                    {% trans "delete" %}
                </a>
            </p>
        </div>
        <div class="col-md-5">
            <dl>
                <dt>{% trans "Review:" %}</dt>
                <dd>{{ review.text }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}