<div class="c-red text-uppercase modal-soc">
    <strong>{{ question.question_text }}</strong>
</div>
<form action="{% url 'polls:poll' question.id %}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ message_errors }}
    {% comment %}    <input type="hidden" name="next" value="{{request.GET.next}}" /> {% endcomment %}
    {% for choice in question.choice_set.all %}
        <ul class="dl-horizontal text-left line-clinics">
            <li><input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}"><strong>{{ choice.choice_text }}</strong></label></li>
        </ul>
    {% endfor %}
    <ul class="dl-horizontal line-clinics">
        <li><input type="submit" class="btn btn-primary" value="Проголосувати" /></li>
    </ul>
</form>