{% include 'doctors/avatar.html' %}
<div>
    <p class="text-center">
        <a href="/doctors/{{ doctor.id }}/yes/" class="lykar-comment-like">
            <i class = "glyphicon glyphicon-thumbs-up"></i>
        </a>
        <span class="badge">{{ doctor.recommend_yes }}</span>

        <a href="/doctors/{{ doctor.id }}/no/" class="lykar-comment-like">
            <i class = "glyphicon glyphicon-thumbs-down"></i>
        </a>
        <span class="badge">{{ doctor.recommend_no }}</span>
    </p>
</div>
