<div class="row lykar-comment-block">
    <div class="col-md-2 col-xs-3 center-block">

        {% if doctor.userdoctor %}
            {% include 'accounts/avatar_main_user.html' %}
        {% else %}
            {% if  doctor.image %}
                <div class="avatar"><img src="{{ MEDIA_URL }}{{ doctor.image }}" width="256" alt="" class="img-responsive img-circle center-block" /></div>
            {% elif doctor.sex == 'M' %}
                <div class="avatar"><img src="{{ MEDIA_URL }}doctor_photos/doctor_m.png" width="256" alt="" class="img-responsive img-circle center-block" /></div>
            {% else %}
                <div class="avatar"><img src="{{ MEDIA_URL }}doctor_photos/doctor_f.png" width="256" alt="" class="img-responsive img-circle center-block" /></div>
            {% endif %}
        {% endif %}
    </div>

    <div class="col-md-10 col-xs-9">
        <div class="text-left red">
            <strong>
                {{ comment_answer.doctor.first_name }} {{ comment_answer.doctor.last_name }}
            </strong>
        </div>
        <div class="">{{ comment_answer.content }}</div>
        <div class="text-left lykar-comment-footer">
            {{ comment.created|date:"d E Y" }} о {{ comment.created|time:"H:i" }}

            {% if doctor.id == user.userdoctor.doctor.id %}
                | <a href="{% url 'doctors:answer-update' comment_answer.id %}" > Редагувати </a>
            {% endif %}
        </div>
    </div>

</div>
