{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="padding-feedback-success">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center text-uppercase">
                        {% trans "Дякуємо, що знайшли час написати відгук про свого лікаря." %}
                    </p>
                    <p class="text-center text-uppercase">
                        {% trans "Ваш відгук з’явиться на сторінці лікаря після підтвердження адміністратора!" %}
                    </p>
                    <p class="text-center text-uppercase">
                        {% trans "Повернутися на сторінку" %} <a href="{% url 'doctors:doctor_profile' pk %}"> {% trans "лікаря" %}</a>.
                    </p>
                     <img class="center-block" src="{% static "img/logo.png" %}" alt="lykar.com.ua" />
                </div>
            </div>
        </div>
    </div>
{% endblock content %}