{% extends "base_sidebar.html" %}
{% load i18n %}


{%block content%}
    {%if user.is_authenticated%}
        <div class="row">
            <div class="col-md-7 col-md-offset-3">

                <div class="text-center text-uppercase modal-soc">
                    <h1> {{ doctor }} </h1>
                    <h2 class = "red"> {% trans "Напишіть відгук цього про лікаря:" %} </h2>

                </div>
                {{ do }}
                <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                    {% include 'doctors/comment_form.html' %}
                </form>

            </div>
        </div>
    {%endif%}
{%endblock%}
