{%extends 'base_sidebar.html' %}
{% load i18n %}
{% load thumbnail %}

{%block content%}
    <div class="row">
        <div class="col-md-3 lykar-doctor-avatar">
            {% include 'doctors/avatar.html' %}
        </div>

        <div class="col-md-9">
            {% include 'doctors/header.html' %}

            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-uppercase text-center"> Напишіть відгук про лікаря</h2>
                            </div>
                        </div>

                        <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                            {% include 'doctors/comment_form.html' %}
                        </form>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>
{%endblock content%}
