{%extends 'base_sidebar.html' %}
{% load i18n %}
{% load thumbnail %}

{%block content%}
    <div class="row">
        <div class="col-md-3 lykar-doctor-avatar">
            {% include 'doctors/doctor_avatar.html' %}
        </div>

        <div class="col-md-9">
            {% include 'doctors/doctor_header.html' %}

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase text-center"> Відгуки пацієнтів</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {% for comment in comments %}
                                {% include 'doctors/doctor_review_full.html' %}

                                <div class="row">
                                    <div class="col-md-10    col-md-offset-2">
                                        {% for comment_answer in comment_answers %}
                                            {% if comment.id == comment_answer.comment.id %}
                                                {% include 'doctors/doctor_comments.html' %}
                                            {% endif %}
                                        {% empty %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% empty %}
                                Про цього лікаря ще ніхто не написав відгук.
                        {% endfor %}
                        </div>
                    </div>

                    {% if comments.count == 5 %}
                        <div class="row lykar-boxed-comment">
                            <div class="col-md-12 text-center">
                                 <a href="{% url 'doctors:doctor_reviews' doctor.id %}">Показати всі відгуки</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <hr />

            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-uppercase text-center"> Напишіть відгук про лікаря</h2>
                            </div>
                        </div>

                        <form action="/doctors/{{ doctor.id }}/newcomment/" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                            {% include 'doctors/comment_form.html' %}
                        </form>

                        {% comment %}
                        <div class="lykar-btn-add-fb">
                            <p class="text-center"><a href="{% url 'doctors:add-comment' doctor.id %}" class="btn btn-primary btn-lg active" role="button">Додати відгук</a></p>
                        </div>
                        {% endcomment %}
                    </div>
                </div>
            {% endif %}

            {% include 'doctors/review_confirmation.html' %}
            {{ uu }}
        </div>
    </div>
{%endblock content%}