{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <!-- Search -->
    {% include "home/searchForm.html" %}
    <!--End Search -->
    <section class="color-white margin">
        <div class="container">
            <div class="row lykar-home color-scheme-white">
                <div class="col-xs-12 col-sm-12 col-md-12">

                {% for doctor in doctors %}
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="team boxed-grey">
                            <div class="inner">
                                <h5>
                                    <a href="{% url 'doctors:doctor_profile' doctor.id %}">{{ doctor.last_name }} {{ doctor.first_name }}</a>
                                </h5>
                                <p class="subtitle">{{ doctor.speciality }}</p>
                                <div class="avatar"><img src="{{ MEDIA_URL }}doctor_photos/doctor_f.png" alt="doctor name" class="img-responsive img-circle center-block" /></div>
                                <div>
                                    <span class = "glyphicon glyphicon-thumbs-up"></span>
                                    <span class="badge">{{ doctor.recommend_yes }}</span>
                                    <span class = "glyphicon glyphicon-thumbs-down"></span>
                                    <span class="badge">{{ doctor.recommend_no }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">{% trans "Поки що не зареєстровано жодного лікаря." %}</p>
                {% endfor %}

                </div>

                <div class="row">
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'doctors:doctors' %}?page={{ page_obj.previous_page_number }}">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                            </a>
                        {% else %}
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        {% endif %}
                            <span class="page-current">
                        {% if page_obj.number > 2 %}
                            <a href="{% url 'doctors:doctors' %}?page=1"> 1 </a>
                        {% endif %}
                        {% if page_obj.number > 3 %}
                            <span>...</span>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <a href="{% url 'doctors:doctors' %}?page={{ page_obj.previous_page_number }}">
                                {{ page_obj.previous_page_number }}
                            </a>
                        {% endif %}

                            {{ page_obj.number }}

                        {% if page_obj.has_next %}
                            <a href="{% url 'doctors:doctors' %}?page={{ page_obj.next_page_number }}"> {{ page_obj.next_page_number }} </a>
                        {% endif %}
                        {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                            <span>...</span>
                            <a href="{% url 'doctors:doctors' %}?page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }}
                            </a>
                        {% endif %}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{% url 'doctors:doctors' %}?page={{ page_obj.next_page_number }}">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </a>
                        {% else %}
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        {% endif %}
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{%endblock%}