{% extends "base_sidebar.html" %}
{% load i18n %}


{%block content%}
    {%if user.is_authenticated%}
        <div class="row">
            <div class="col-md-7 col-md-offset-3">

                <div class="text-center text-uppercase modal-soc">
                    <h2 class = "red"> {% trans "Введіть дані про клініку:" %}</h2>
                </div>

                <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <input type="hidden" name="next" value="{{request.GET.next}}" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.name.label }}*</strong>
                                    {{ form.name }}
                                </div>
                                <div class="text-warning">{{ form.name.errors }}</div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.is_state.label }}*</strong>
                                    {{ form.is_state }}
                                </div>
                                <div class="text-warning">{{ form.is_state.errors }}</div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.type.label }}*</strong>
                                    {{ form.type }}
                                </div>
                                <div class="text-warning">{{ form.type.errors }}</div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.city.label }}*</strong>
                                    {{ form.city }}
                                </div>
                                <div class="text-warning">{{ form.city.errors }}</div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.address.label }}*</strong>
                                    {{ form.address }}
                                </div>
                                <div class="text-warning">{{ form.address.errors }}</div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.email.label }}</strong>
                                    {{ form.email }}
                                </div>
                                <div class="text-warning">{{ form.email.errors }}</div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.phone.label }}</strong>
                                    {{ form.phone }}
                                </div>
                                <div class="text-warning">{{ form.phone.errors }}</div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{{ form.image.label }}</strong>
                                    {{ form.image }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <input type="submit" class="btn btn-primary" value="Зберегти" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {%endif%}
{%endblock%}