<div class="text-left red">
    <strong>
        {% if comment.user.userdoctor.doctor.first_name %}
            {{ comment.user.userdoctor.doctor.first_name }} {{ comment.user.userdoctor.doctor.last_name }}
        {% elif comment.user.first_name %}
            {{ comment.user.first_name }} {{ comment.user.last_name }}
        {% else %}
            {{ comment.user.username }}
        {% endif %}
    </strong>
</div>

<div>{{ comment.content }}</div>

<div class="text-left lykar-review-footer">
    {{ comment.created|date:"d E Y" }} о {{ comment.created|time:"H:i" }}

    {% if user.id == comment.user.id %}
        | <a href="/doctors/comment/{{ comment.id }}/" > Редагувати </a>
    {% endif %}

    {% if doctor.id == user.userdoctor.doctor.id %}
        | <a href="/doctors/comment/{{ comment.id }}/answer/" > Коментувати </a>
    {% endif %}
</div>
