<div class="row lykar-boxed-comment">
    <div class="col-md-2 center-block">
        {% include 'doctors/avatar_user.html' %}
    </div>

    <div class="col-md-10">
        {% include 'doctors/review_content.html' %}
    </div>
    {# block comment #}
    <div class="row">
        <div class="col-md-10    col-md-offset-2">
            {% for comment_answer in comment_answers %}
                {% if comment.id == comment_answer.comment.id %}
                    <hr class="lykar-between-review"/>
                    {% include 'doctors/comment_block.html' %}
                {% endif %}
            {% empty %}
            {% endfor %}
        </div>
    </div>
    {# endblock comment #}

</div>
<hr class="lykar-between-review" />
