{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!-- Search -->
    {% include "home/searchForm.html" %}
    <!--End Search -->

    <section class="color-white text-center margin">
        <div class="container">
            <div class="row lykar-home color-scheme-white ">
                <div class="col-xs-12 col-sm-12 col-md-12">

                    <div class="row">

                        <div class="col-md-8">
                            <h2 class="text-uppercase">{% trans "Медичні заклади" %}</h2>
                            <div class="team boxed-grey">

                                <div class="row">
                                    {% for hospital_type in hospital_types %}
                                        <div class=" col-xs-12 col-sm-12 col-md-4">
                                            <div class="city boxed-white">
                                                <div class="inner">
                                                    <h5>{{ hospital_type.name }}</h5>
                                                    <ul class="line-clinics text-uppercase">
                                                        {% for hospital in hospitals %}
                                                            {% if hospital_type == hospital.type %}
                                                                <li><a href="#">{{ hospital.name }}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p class="subtitle">{% trans 'в БД не зареєстровано жодної клініки.' %}</p>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <h2 class="text-uppercase">{% trans "Опитування" %}</h2>
                                {{ cook }}
                                {{ quest }}
                                <div class="team boxed-grey">
                                    {% include question_pattern %}
                                </div>
                        </div>

                    </div>

                    <!-- Popular Doctor -->
                    <h2 class="text-uppercase">{% trans "Популярні лікарі" %}</h2>

                    {% comment %}
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5"><hr /></div>
                    </div>
                    {% endcomment %}

                    <div class="row">
                        {% for doctor in doctors %}
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <div class="team boxed-grey">
                                    <div class="inner">
                                        <h5><a href="{% url 'doctors:doctor_profile' doctor.id %}">{{ doctor.last_name }} {{ doctor.first_name }}</a></h5>
                                        <p class="subtitle">{{ doctor.speciality }}</p>
                                        <div class="avatar"><img src="{{ MEDIA_URL }}doctor_photos/doctor_f.png" alt="doctor name" class="img-responsive img-circle center-block" /></div>
                                        <div>
                                            <i class = "glyphicon glyphicon-thumbs-up"></i>
                                            <span class="badge">{{ doctor.recommend_yes }}</span>
                                            <i class = "glyphicon glyphicon-thumbs-down"></i>
                                            <span class="badge">{{ doctor.recommend_no }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="subtitle">{% trans 'в БД не зареєстровано жодного лікаря. Ви можете це зробити, перейшовши <a href="#">сюди</a>.' %}</p>
                        {% endfor %}
                    </div>
                    <!-- End Popular Doctor -->

                </div>
            </div>
        </div>
    </section>

{% endblock %}
