{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <!-- Search -->
    {% include "home/searchForm.html" %}
    <!--End Search -->

    <section class="color-white margin">
        <div class="container">
            <div class="row lykar-home color-scheme-white">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">

                        <div class="col-md-8">
                            <h2 class="text-uppercase text-center">{% trans "Знайти лікаря за ..." %}</h2>
                            <div>
                                <p><strong class="text-uppercase c-red"><span class="glyphicon glyphicon-tag"></span> спеціальністю:</strong></p>
                                <div class="row">
                                    <ul class="list-unstyled black-list">
                                    {% for speciality in specialities %}
                                        <li class="col-md-3"><a href="#" class="text-uppercase">{{ speciality.name }}</a></li>
                                    {% empty %}
                                        <p class="subtitle">{% trans 'в БД не зареєстровано жодної спеціальності.' %}</p>
                                    {% endfor %}
                                     </ul>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <h2 class="text-uppercase text-center">{% trans "Опитування" %}</h2>
                                {{ cook }}
                                {{ quest }}
                                <div class="team boxed-grey">
                                    {% include question_pattern %}
                                </div>
                        </div>

                    </div>

                    <!-- Popular Doctor -->
                    <h2 class="text-uppercase">{% trans "Популярні лікарі" %}</h2>

                    {% comment %}
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5"><hr /></div>
                    </div>
                    {% endcomment %}

                    <div class="row">
                        {% for doctor in doctors %}
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <div class="team boxed-grey">
                                    <div class="inner">
                                        <h5><a href="{% url 'doctors:doctor_profile' doctor.id %}">{{ doctor.last_name }} {{ doctor.first_name }}</a></h5>
                                        <p class="subtitle">{{ doctor.speciality }}</p>
                                        <div class="avatar"><img src="{{ MEDIA_URL }}doctor_photos/doctor_f.png" alt="doctor name" class="img-responsive img-circle center-block" /></div>
                                        <div>
                                            <i class = "glyphicon glyphicon-thumbs-up"></i>
                                            <span class="badge">{{ doctor.recommend_yes }}</span>
                                            <i class = "glyphicon glyphicon-thumbs-down"></i>
                                            <span class="badge">{{ doctor.recommend_no }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="subtitle">{% trans 'в БД не зареєстровано жодного лікаря. Ви можете це зробити, перейшовши <a href="#">сюди</a>.' %}</p>
                        {% endfor %}
                    </div>
                    <!-- End Popular Doctor -->

                </div>
            </div>
        </div>
    </section>

{% endblock %}
