{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
    {# block search #}
    {% include "home/searchForm.html" %}
    {# endblock search #}
    <section class="color-white margin">
        <div class="container">
            <div class="row lykar-home color-scheme-white">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-md-9 lykar-discription-block">
                            <h2 class="text-uppercase text-center lykar-text-title">{% trans "Про проект" %}</h2>
                            <div class="row">
                                <div class="col-sm-3 col-md-2">
                                    <img class="center-block hidden-xs" src="{% static "img/about_project.png" %}" width="123" height="200" alt="відгуки про лікарів - лікар" />
                                </div>
                                <div class="col-sm-9 col-md-10">
                                    <div class="text-justify">
                                        <p>
                                            <strong><span class="c-red">«lykar.com.ua»</span></strong> - місце, де пацієнти
                                            діляться своїм досвідом лікування, хвалять хороших лікарів і лають поганих,
                                            борються за свої права, не дають розводити себе на гроші, вибирають
                                            найкращих фахівців...
                                        </p>
                                        <p>
                                            Всі ми різні, але всім нам потрібна ефективна система надання медичної допомоги. Хтось
                                            звертається за допомогою до лікаря лише зрідка, а комусь потрібне постійне лікування.
                                            У будь-якому випадку приходить момент, коли нам потрібен лікар - найкращий лікар. І для
                                            того, щоб знати, до кого звернутись завтра, ми пропонуємо оцінити свого лікаря сьогодні.
                                            Давайте надамо собі можливість лікуватися у хороших лікарів!
                                        </p>
                                        <p>
                                            Ми розуміємо, що без зацікавленості пацієнтів нічого не вийде. Тому ми робимо все, щоб Вам
                                            було зручно висловлювати думку і вивчати накопичені відгуки. Очевидно, що тільки спільними
                                            зусиллями вдасться поліпшити якість вітчизняної охорони здоров'я.
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="info-counter">
                                                <div class="info-digits">
                                                    {% if doctors_all %}
                                                        <span id="number_of_doctors"> {{ doctors_all|length }} </span>
                                                    {% endif %}
                                                </div>
                                                <div class="info-text">
                                                    <span id="number_of_doctors_text">{% trans "лікарів" %}</span>
                                                    {% trans " на сайті" %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="info-counter">
                                                <div class="info-digits">
                                                    {% if comments %}
                                                        <span id="number_of_reviews">{{ comments|length }}</span>
                                                    {% endif %}
                                                </div>
                                                <div class="info-text">
                                                    <span id="number_of_reviews_text">{% trans "відгуки" %}</span>
                                                    {% trans " пацієнтів" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# endblock discription #}
                        </div>
                        {# block poll #}
                        <div class="col-md-4 lykar-polls-block">
                            <div class="question boxed">
                                <h2 class="text-uppercase text-center ">{% trans "Опитування" %}</h2>
                                {% include question_pattern %}
                            </div>
                        </div>
                        {# endblock poll #}
                    </div>
                    <hr />
                    {# block speciality #}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="block-wrap">
                                <h2 class="text-uppercase text-center lykar-text-title">{% trans "Пошук лікаря за спеціальністю" %}</h2>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                            <div class="row ">
                                <ul class="list-unstyled black-list">
                                {% for speciality in specialities %}
                                    <li class="col-md-3 col-xs-6 col-sm-4 text-left"><a href="/search/?name=&speciality={{ speciality.id }}" class="text-lowercase">
                                        <span class="c-red"> {{ speciality.name }} </span>
                                    </a></li>
                                {% empty %}
                                    <p class="subtitle">{% trans 'в БД не зареєстровано жодної спеціальності.' %}</p>
                                {% endfor %}
                                 </ul>
                            </div>
                        </div>
                    </div>
                    {# endblock speciality #}
                    <hr />
                    {# block popular doctors #}
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase text-center lykar-text-title">{% trans "Популярні лікарі" %}</h2>
                            <br />
                            <div class="row">
                                {% for doctor in doctors %}
                                    <div class="col-xs-12 col-sm-4 col-md-3">
                                        <div class="team boxed-grey">
                                            <div class="inner text-center">
                                                <h5><a href="{% url 'doctors:doctor_profile' doctor.id %}">{{ doctor.last_name }} {{ doctor.first_name }}</a></h5>
                                                <p class="subtitle">{{ doctor.speciality }}</p>
                                                {% if  doctor.userdoctor.user.profile.all %}
                                                    {% for photo in doctor.userdoctor.user.profile.all %}
                                                        <div class="avatar"><img src="{{ photo }}" width="128" alt="" class="img-responsive img-circle center-block" /></div>
                                                    {% empty %}
                                                    {% endfor %}
                                                {% elif doctor.userdoctor.user.usersetting_set.all %}
                                                    {% for photo in doctor.userdoctor.user.usersetting_set.all %}
                                                        <div class="avatar"><img src="{{ MEDIA_URL }}{{ photo }}" width="128" alt="" class="img-responsive img-circle center-block" /></div>
                                                    {% empty %}
                                                    {% endfor %}
                                                {% elif doctor.image %}
                                                    <div class="avatar"><img src="{{ MEDIA_URL }}{{ doctor.image }}" width="128" alt="" class="img-responsive img-circle center-block" /></div>
                                                {% elif doctor.sex == 'F' %}
                                                    <div class="avatar"><img src="{{ MEDIA_URL }}doctor_photos/doctor_f.png" width="128" alt="" class="img-responsive img-circle center-block" /></div>
                                                {% else %}
                                                    <div class="avatar"><img src="{{ MEDIA_URL }}doctor_photos/doctor_m.png" width="128" alt="" class="img-responsive img-circle center-block" /></div>
                                                {% endif %}
                                                <div>
                                                    <i class = "glyphicon glyphicon-thumbs-up"></i>
                                                    <span class="badge">{{ doctor.recommend_yes }}</span>
                                                    <i class = "glyphicon glyphicon-thumbs-down"></i>
                                                    <span class="badge">{{ doctor.recommend_no }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p class="subtitle">{% trans 'Поки що не зареєстровано жодного лікаря. Ви можете це зробити, перейшовши <a href="#">сюди</a>.' %}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {# endblock popular doctors #}
                </div>
            </div>
        </div>
    </section>
{% endblock %}