{% load i18n %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% trans "Адмінпанель Lykar" %} - {% block title %}{% endblock %}</title>
    <!-- Library css -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.admin.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/sb-admin.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'adminpanel:index' %}">Адмінпанель Lykar</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#">Admin</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Вийти</a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="#">Лікарі</a>
                    </li>
                    <li>
                        <a href="#">Відгуки про лікарів</a>
                    </li>
                    <li>
                        <a href="#">Лікарні</a>
                    </li>
                    <li>
                        <a href="#">Спеціальності</a>
                    </li>
                    <li>
                        <a href="#">Міста</a>
                    </li>
                    <li>
                        <a href="#">Області</a>
                    </li>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">
                            Пункт меню
                        </h3>
                    </div>
                </div> <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <p>flksdjlk jdsk jlkdsj fl kjsdfk jadslk fjlkdjs flkjldak jkladfj kljlkfj lsdakjflkadsklfjdslkfjldsjf lkjf jlkf ajdlfjljskd flj fjlk dsjlaf jlsdkfl jkasdj fklajfklj klsjdf kljskfj ksfj 111111111111111111 111111111111 11111111111</p>
                    </div>
                </div> <!-- /.row -->

            </div><!-- /.container-fluid -->
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
    <!-- The Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>