{% extends "adminpanel/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Форма лікар" %}{% endblock %}

{% block menu_name %}{% trans "Форма лікар" %}{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="next" value="{{request.GET.next}}" />
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>{{ form.last_name.label }}*</dt>
                    <dd>{{ form.last_name }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.last_name.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.first_name.label }}*</dt>
                    <dd>{{ form.first_name }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.first_name.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.patronymic.label }}*</dt>
                    <dd>{{ form.patronymic }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.patronymic.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.sex.label }}*</dt>
                    <dd>{{ form.sex }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.sex.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.speciality.label }}*</dt>
                    <dd>{{ form.speciality }}</dd>
                    <dt></dt>
                    <dd class="add-button">
                        <a href="{% url 'adminpanel:specialities:add-speciality' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                            {% trans "Додати спеціалізацію" %}
                        </a>
                    </dd>
                    <dd class="text-warning">{{ form.speciality.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.hospitals.label }}*</dt>
                    <dd>{{ form.hospitals }}</dd>
                    <dt></dt>
                    <dd class="add-button">
                        <a href="{% url 'adminpanel:hospitals:add-hospital' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                            {% trans "Додати клініку" %}
                        </a>
                    </dd>
                    <dd class="text-warning">{{ form.hospitals.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.is_active.label }}*</dt>
                    <dd>{{ form.is_active }}</dd>
                    <dt></dt>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.image.label }}*</dt>
                    <dd>{{ form.image }}</dd>
                    <dt></dt>
                </dl>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Зберегти" />
    </form>
{% endblock %}