{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Відновлення пароля" %}{% endblock %}

{% block content %}
    <section class="log-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    {% if validlink %}
                        <h2 class="text-center text-uppercase red">
                            {% trans "Будь ласка введіть новий пароль" %}
                        </h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken" />
                            <div class="form-group">
                                <div class="dl-horizontal">
                                    {{ form.new_password1 }}
                                </div>
                                <div class="text-warning">{{ form.new_password1.errors }}</div>
                            </div>
                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <strong>{% trans "Підтвердіть пароль" %}</strong><br />
                                    {{ form.new_password2 }}
                                </div>
                                <div class="text-warning">{{ form.new_password2.errors }}</div>
                            </div>
                            <div class="form-group">
                                <div class="dl-horizontal">
                                    <input type="submit" class="btn btn-primary" value="Змінити пароль" />
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <h2 class="text-center text-uppercase red one-padding">
                            {% trans "Помилка при відновленні пароля" %}
                        </h2>
                        <p class="text-warning">{% trans "Посилання на сторінку недійсне. Спробуйте відправити запит ще раз" %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}