{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Відновлення пароля" %}{% endblock %}

{% block content %}
    <section class="log-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="text-uppercase red  one-padding">
                        {% trans "Введіть будь ласка свою електронну пошту:" %}
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        <div class="form-group">
                            <div class="dl-horizontal">
                                <label for="id_email"></label>
                                {{ form.email }}
                                <div class="text-warning">{{ form.email.errors }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="dl-horizontal">
                                <input type="submit" class="btn btn-primary btn" value="Відновити пароль" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}