{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Відновлення пароля" %}{% endblock %}

{% block content %}
    <section class="log-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <p class="text-center text-uppercase red">
                        {% trans "Ваш пароль змінено. Тепер Ви можете " %}
                        <a href="{{ login_url }}">{% trans "увійти" %}</a>{% trans " на сайт." %}
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}