{% extends "base.html" %}

{% block title %}Відновлення пароля{% endblock %}

{% block content %}
    <section class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center ">
                    <p class="text-uppercase red">Введіть будь ласка свою електронну пошту:</p>

                    <form action="" method="post">
                        <div style="">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        <p><label for="id_email"></label> {{ form.email }} <input type="submit" value="Відновити пароль" /></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}