{% if  photo %}
    <div class="avatar"><img src="{{ MEDIA_URL }}{{ photo }}" width="64" alt="" class="img-responsive img-circle center-block" /></div>
    <div class="avatar"><img src="{{ photo }}" width="64" alt="" class="img-responsive img-circle center-block" /></div>
{% elif 'sex' == 'F' %}
    <div class="avatar"><img src="{{ MEDIA_URL }}user_photos/anonum_f.png" width="64" alt="" class="img-responsive img-circle center-block" /></div>
{% else %}
    <div class="avatar"><img src="{{ MEDIA_URL }}user_photos/anonum_m.png" width="64" alt="" class="img-responsive img-circle center-block" /></div>
{% endif %}
