{% load i18n %}

<form action="{% url 'accounts:login' %}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12 box">
            <div class="red">{{ login_error }}</div>
            <div class="red"> {{ success_registration }} </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <strong>{{ form.username.label }}*</strong>
                    {{ form.username }}
                </div>
                <div class="text-warning">{{ form.username.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <strong>{{ form.password.label }}*</strong>
                    {{ form.password }}
                </div>
                <div class="text-warning">{{ form.password.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal text-right">
                    <a href="{% url 'accounts:registration' %}">{% trans "Реєстрація" %}</a>
                    | <a href="{% url 'accounts:password_reset' %}">{% trans "Забули пароль?" %}</a>
                </div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <input type="submit" class="btn btn-primary" value="Увійти" />
                </div>
            </div>
        </div>
    </div>
</form>
