{%extends 'base.html'%}
{%block content%}
	<section class="first-section color-scheme-white">
	{%if user.is_authenticated%}
		<div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Ваш особистий кабінет</h1>
                </div>
		    </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="{{ photo }}" width=20% class="img-account" >
                </div>
		    </div>

        </div>
	{%else%}
		<div class="container">

            {% load i18n %}
            {% load staticfiles %}
            <div class="text-center text-uppercase modal-soc">{% trans "Увійти через:" %}</div>
            <ul class="line text-center">
                <li><a href="{% url 'social:begin' 'facebook' %}" class="facebook"><img src="{% static "img/facebook.png" %}" alt="facebook" /></a></li>
                <li><a href="{% url 'social:begin' 'vk-oauth2' %}" class="vkontakte"><img src="{% static "img/vkontakte.png" %}" alt="vkontakte" /></a></li>
                <li><a href="#" class="google_plus"><img src="{% static "img/google_plus.png" %}" alt="google_plus" /></a></li>
                <li><a href="#" class="odnoklassniki"><img src="{% static "img/odnoklassniki.png" %}" alt="odnoklassniki" /></a></li>
            </ul>
        </div>
	{%endif%}
    </section>
{%endblock%}