{%extends 'base.html'%}
{% load i18n %}

{%block content%}
    <section class="top-section">
    	{%if user.is_authenticated%}
	    {%else%}
            <div class="container">
                <div class="top-padding"><h2 class="text-uppercase text-center">{% trans "Вхід" %}</h2></div>
                <div class="col-md-5 col-md-offset-2">
                    {% include 'accounts/login_form.html' %}
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <div class="text-center text-uppercase modal-soc">
                        {% trans "Ввійти через:" %}
                    </div>
                    {% include 'accounts/social.html' %}
                </div>
            </div>
	    {%endif%}
    </section>
{%endblock%}