{% load i18n %}

<div class="row">

    <div class="col-md-3 lykar-doctor-avatar">
        <div class="avatar">
            {% if photo %}
                <img src="{{ photo }}" alt="doctor name" class="img-responsive img-circle center-block" />
            {% else %}
                <img src="{{ MEDIA_URL }}doctor_photos/doctor_f.png" alt="doctor name" class="img-responsive img-circle center-block" />
            {% endif %}
        </div>

        <div class="text-center">
            <a href="{% url 'accounts:user_doctor' %}" class="btn btn-md active lykar-user-btn" role="button">Я - лікар</a>
        </div>
    </div>

    <div class="col-md-9">
        <h1 class = "text-uppercase">
            {% if user.last_name or user.first_name %}
                {{ user.last_name }} {{ user.first_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </h1>
        <hr class = "lykar-separator" />



        <div class="row">
            <div class="col-md-12">
                <h2 class="text-uppercase text-center"> Мої останні відгуки про лікарів</h2>
                <hr />

                {% for comment in user_comments %}
                    <div class="row lykar-boxed-comment">
                        <div class="col-md-2 center-block">
                            <img src="{{  comment.doctor.image }}" alt="" class="img-circle img-responsive">
                            <strong><p class="text-center red">{{  comment.doctor}}</p></strong>
                            <p class="text-center ">{{  comment.doctor.speciality}}</p>
                        </div>

                        <div class="col-md-10">
                            <p>{{ comment.content }}</p>
                            <p class="text-left">
                                Додано: {{ comment.created }}
                                </a>
                            </p>
                            <p class="text-right">
                                {% if comment.is_active == 'False' %}
                                    (коментар перевіряється)
                                {% endif %}
                                <a href="/doctors/comment/{{ comment.id }}/" >
                                    Редагувати
                                </a>
                            </p>
                        </div>
                    </div>
                {% empty %}
                    Ви ще не написали жодного відгуку.
                {% endfor %}

            </div>
        </div>
    </div>
</div>
