{%extends 'base.html'%}

{%block content%}
    <section class="first-section color-scheme-white">
        {%if user.is_authenticated%}
        {%else%}
            {% load i18n %}
            <div class="container">
                <div class="text-center text-uppercase modal-soc">{% trans "Заповніть реєстраційну форму:" %}</div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {% include 'accounts/registration_form.html' %}
                    </div>
                </div>

                <div class="text-center text-uppercase modal-soc">{% trans "Або ввійдіть через:" %}</div>
                {% include 'accounts/social.html' %}

                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        {% trans "Реєструючись на сайті, ви автоматично погоджуєтеся з " %}<a href="#">{% trans "Умовами використання" %}</a>
                    </div>
                </div>

            </div>
    	{%endif%}
    </section>
{%endblock%}