{% load i18n %}
{% load staticfiles %}

<div class="modal-header">
    <div class="float-left text-left">{% trans "РЕЄСТРАЦІЯ" %}</div>
    <div class="text-right">{%  trans "Вже є обліковий запис?" %}
        <a href="#">{%  trans " Ввійти" %}</a></div>
</div>
<div class="modal-body color-scheme-grey">
    <div class="text-center text-uppercase modal-soc">{% trans "Заповніть реєстраційну форму" %}</div>
    <form action="accounts/registration/" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>Логін*</dt>
                    <dd>{{ form.username }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.username.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.email.label }}*</dt>
                    <dd>{{ form.email }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.email.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.password1.label }}*</dt>
                    <dd>{{ form.password1 }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.password1.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.password1.label }}*<br/>(ще раз)</dt>
                    <dd>{{ form.password2 }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.password2.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                     <dd><input type="submit" class="btn btn-primary" value="Зареєструватися" /> </dd>
                </dl>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        {% trans "Зареєструвавшись, ви погоджуєтеся з нашими " %}<a href="#">{% trans "Умовами використання" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="text-center text-uppercase modal-soc">{% trans "Або ввійдіть через:" %}</div>
    <ul class="line text-center">
        <li><a href="{% url 'social:begin' 'facebook' %}" class="facebook"><img src="{% static "img/facebook.png" %}" alt="facebook" /></a></li>
        <li><a href="{% url 'social:begin' 'vk-oauth2' %}" class="vkontakte"><img src="{% static "img/vkontakte.png" %}" alt="vkontakte" /></a></li>
        <li><a href="#" class="google_plus"><img src="{% static "img/google_plus.png" %}" alt="google_plus" /></a></li>
        <li><a href="#" class="odnoklassniki"><img src="{% static "img/odnoklassniki.png" %}" alt="odnoklassniki" /></a></li>
    </ul>


</div>

