{%extends 'base.html'%}
{% load i18n %}

{%block content%}
<section class="top-section color-grey">
    <div class="container">

    {%if not user.is_authenticated%}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center text-uppercase modal-soc">
                    <h2 class=""> {% trans "Ви можете увійти через:" %}</h2>
                </div>
                {% include 'accounts/social.html' %}
                <br />
                <div class="text-center text-uppercase modal-soc">
                    <h1 class = "red"> {% trans "Або зареєструватися:" %}</h1>
                </div>
                {% include 'accounts/registration_form.html' %}

            </div>
        </div>
    {%endif%}
    </div>
</section>
{%endblock%}