{% load i18n %}

<form action="{% url 'accounts:registration' %}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 box">
            <div class="form-group">
                <div class="dl-horizontal">
                    <strong>{% trans "Логін" %}*</strong>
                    {{ form.username }}
                </div>
                <div class="text-warning">{{ form.username.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <strong>{{ form.email.label }}*</strong>
                    {{ form.email }}
                </div>
                <div class="text-warning">{{ form.email.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <strong>{{ form.password1.label }}*</strong>
                    {{ form.password1 }}
                </div>
                <div class="text-warning">{{ form.password1.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <strong>{{ form.password1.label }}*</strong>
                    {{ form.password2 }}
                </div>
                <div class="text-warning">{{ form.password2.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <strong>{{ form.sex.label }}*</strong>
                    {{ form.sex }}
                </div>
                <div class="text-warning">{{ form.sex.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    {{ form.rules }}  Я погоджуюсь з <a href="#conditions" data-toggle="modal" data-target="#conditions">умовами</a>  використання сайту
                </div>
                <div class="text-warning">{{ form.rules.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    {{ form.captcha }}
                </div>
                <div class="text-warning">{{ form.captcha.errors }}</div>
            </div>
            <div class="form-group">
                <div class="dl-horizontal">
                    <input type="submit" class="btn btn-primary" value="Зареєструватися" />
                </div>
            </div>
        </div>
    </div>
</form>