<div class="review-block">
    {% for comment in user_comments %}
        {# block review #}
        {% include 'accounts/review_block.html' %}
        {# endblock review #}
    {% empty %}
        Про Вас ще ніхто не написав жодного відгук.
    {% endfor %}
    {# block link_on_all_reviews #}
    {% if user_comments.count == 5 %}
        <div class="row lykar-boxed-comment">
            <div class="col-md-12 text-center">
                 <a href="{% url 'accounts:user_reviews' user.id %}">Показати всі відгуки</a>
            </div>
        </div>
    {% endif %}
    {# endblock link_on_all_reviews #}
</div>

