<div class="review-block">
    {% for comment in comments %}
        {# block review #}
        {% include 'doctors/review_block.html' %}
        {# endblock review #}
    {% empty %}
        Про Вас ще ніхто не написав жодного відгук.
    {% endfor %}
    {% if comments.count == 5 %}
        <div class="row lykar-boxed-comment">
            <div class="col-md-12 text-center">
                 <a href="{% url 'doctors:doctor_reviews' doctor.id %}">Показати всі відгуки</a>
            </div>
        </div>
    {% endif %}
</div>