<div class="row lykar-boxed-comment">
    <div class="col-md-2 center-block">
        {% include 'accounts/review_avatar_of_doctor.html' %}
    </div>

    {# block review_content #}
    {% include 'accounts/review_content.html' %}
    {# endblock review_content #}

    {# block comment #}
    <div class="row">
        <div class="col-md-10    col-md-offset-2">
            {% for comment_answer in comment_answers %}
                {% if comment.id == comment_answer.comment.id %}
                    <hr class="lykar-between-review"/>
                    {% include 'accounts/comment_on_review.html' %}
                {% endif %}
            {% empty %}
            {% endfor %}
        </div>
    </div>
    {# endblock comment #}

</div>
<hr class="lykar-between-review" />
