{% load i18n %}
{% load crispy_forms_tags %}

<div class="row">
    {# block avatar #}
    <div class="col-md-3 col-md-offset-1 text-center text-uppercase">
        <div class="modal-soc">
            {% include 'accounts/avatar_main_user.html' %}
        </div>

        <h4 class = "red"> <a href="{% url 'accounts:user_doctor' %}">Я - лікар !!! </a> </h4>
    </div>
    {# endblock avatar #}

    {# block settings_form #}
    <div class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <div class="text-center text-uppercase modal-soc">
            <h4 class = "red text-left"> {% trans "Ваші особисті дані:" %}</h4>
        </div>
        <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <div class="dl-horizontal">
                    {{ form|crispy }}
                </div>
            </div>

            <div class="form-group">
                <div class="dl-horizontal">
                    <input type="submit" class="btn btn-primary" value="Зберегти" />
                </div>
            </div>
        </form>
    </div>
    {# endblock settings_form #}
</div>
