{% load staticfiles %}

<ul class="line text-center">
    <li><a href="{% url 'social:begin' 'facebook' %}" class="facebook"><img src="{% static "img/facebook.png" %}" alt="facebook" /></a></li>
    <li><a href="{% url 'social:begin' 'vk-oauth2' %}" class="vkontakte"><img src="{% static "img/vkontakte.png" %}" alt="vkontakte" /></a></li>
    <li><a href="{% url 'social:begin' 'google-oauth2' %}" class="google_plus"><img src="{% static "img/google_plus.png" %}" alt="google_plus" /></a></li>
    <li><a href="#" class="odnoklassniki"><img src="{% static "img/odnoklassniki.png" %}" alt="odnoklassniki" /></a></li>
</ul>