{% extends "adminp/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Company form" %}{% endblock %}

{% block content %}
    <h3>{% trans "Company form" %}</h3>
    <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="next" value="{{request.GET.next}}" />
        <div class="row">
            <div class="col-md-7">
                <dl class="dl-horizontal">
                    <dt>{{ form.name.label }}*</dt>
                    <dd>{{ form.name }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.name.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.email.label}}</dt>
                    <dd>{{ form.email }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.email.errors }}</dd>
                    <dt>{{ form.web_site.label }}</dt>
                    <dd>{{ form.web_site }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.web_site.errors }}</dd>
                    <dt>{{ form.logo.label }}</dt>
                    <dd>{{ form.logo }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.logo.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd><small>* Required Fields</small></dd>
                </dl>
            </div>
            <div class="col-md-5">
                <dl>
                    <dt>{{ form.description.label }}</dt>
                    <dd>{{ form.description }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.description.errors }}</dd>
                </dl>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
{% endblock %}