/* login and logout */
.log-padding {
    padding-top: 60px;
    padding-bottom: 80px;
}
.head-padding {
    padding-bottom: 10px;
}
.line-soc {
    list-style: none outside none;
    padding: 0;
}
.line-soc li {
    display: inline;
}
.line-soc li a {
    margin: 0 5px;
}
.log-box {
    padding-bottom: 10px;
}
.red {
    color: #d9230f;
}
.log-soc {
    margin: 20px 0 20px;
}