{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% trans "Lykar Admin" %} - {% block title %}{% endblock %}</title>
        <!-- Library css -->
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/admin.css" rel="stylesheet">
    </head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% trans "Lykar - Admin panel" %}</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="#">{% trans "Лікарі" %}</a>
                    </li>
                    <li class="dropdown">
                        <a href="#">{% trans "Лікарні" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Відгуки про лікарів" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Спеціальності" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Міста" %}</a>
                    </li>
                    <li>
                        <a href="#">{% trans "Області" %}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>{% trans "Admin" %}<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-power-off"></i>
                                    {% trans "Вийти" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- The Scripts -->
    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/admin.js"></script>
    {% endblock %}
</body>
</html>
