{% extends "adminp/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Review form" %}{% endblock %}

{% block content %}
    <h3>{% trans "Review form" %}</h3>
    <form action="" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="next" value="{{request.GET.next}}" />
        <div class="row">
            <div class="col-md-7">
                <dl class="dl-horizontal">
                    <dt>{{ form.customer.label }}*</dt>
                    <dd>{{ form.customer }}</dd>
                    <dt>{{ form.is_shown_on_home_page.label }}</dt>
                    <dd>{{ form.is_shown_on_home_page }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.customer.errors }}</dd>
                    <dt></dt>
                    <dd>
                        <a href="{% url 'adminp:customers:add-customer' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                            {% trans "Add customer" %}
                        </a>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd><small>* Required Fields</small></dd>
                </dl>
            </div>
            <div class="col-md-5">
                <dl>
                    <dt>{{ form.text.label }}*</dt>
                    <dd>{{ form.text }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.text.errors }}</dd>
                </dl>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
{% endblock %}