{% extends "adminpanel/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Customers" %}{% endblock %}

{% block content %}
    <h3>{% trans "Customers" %}</h3>
    <p>
        <a href="{% url 'adminpanel:customers:add-customer' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
            {% trans "Add customer" %}
        </a>
    </p>
    <table class="table">
        <tr>
            <th>{% trans "Customer" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Skype" %}</th>
            <th>{% trans "Web Site" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>

    {% for customer in customers %}
        <tr>
            <td><a href="{% url 'adminpanel:customers:details' customer.id %}">{{ customer }}</a></td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.skype }}</td>
            <td>{{ customer.web_site }}</td>
            <td>
                <a href="{% url 'adminpanel:customers:update-customer' customer.id %}?next={{ request.get_full_path }}">{% trans "edit" %}</a>
                <a href="{% url 'adminpanel:customers:delete-customer' customer.id %}">{% trans "delete" %}</a>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="6">table is empty</td></tr>
    {% endfor %}

    </table>
{% endblock %}