{% extends "adminp/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Developer form" %}{% endblock %}

{% block content %}
    <h3>{% trans "Developer form" %}</h3>
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="next" value="{{request.GET.next}}" />
        <div class="row">
            <div class="col-md-7">
                <dl class="dl-horizontal">
                    <dt>{{ form.first_name.label }}*</dt>
                    <dd>{{ form.first_name }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.first_name.errors }}</dd>
                    <dt>{{ form.last_name.label }}*</dt>
                    <dd>{{ form.last_name }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.last_name.errors }}</dd>
                    <dt>{{ form.email.label }}*</dt>
                    <dd>{{ form.email }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.email.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.phone.label }}</dt>
                    <dd>{{ form.phone }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.phone.errors }}</dd>
                    <dt>{{ form.skype.label }}</dt>
                    <dd>{{ form.skype }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.skype.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.linkedin_profile.label }}</dt>
                    <dd>{{ form.linkedin_profile }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.linkedin_profile.errors }}</dd>
                    <dt>{{ form.github_username.label }}</dt>
                    <dd>{{ form.github_username }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.github_username.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd><small>* Required Fields</small></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.resume_file.label }}</dt>
                    <dd>{{ form.resume_file }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.resume_file.errors }}</dd>
                </dl>
            </div>
            <div class="col-md-5">
                <dl>
                    <dt>{{ form.summary.label }}</dt>
                    <dd>{{ form.summary }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.summary.errors }}</dd>
                </dl>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
{% endblock %}