{% extends "adminp/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Developers" %}{% endblock %}

{% block content %}
    <h3>{% trans "Developers" %}</h3>
    <p>
        <a href="{% url 'adminp:developers:add-developer' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
            {% trans "Add developer" %}
        </a>
    </p>
    <table class="table">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Phone" %}</th>
            <th>{% trans "Skype" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>

    {% for developer in developers %}
        <tr>
            <td><a href="{% url 'adminp:developers:details' developer.id %}">{{ developer }}</a></td>
            <td>{{ developer.email }}</td>
            <td>{{ developer.phone }}</td>
            <td>{{ developer.skype }}</td>
            <td>
                <a href="{% url 'adminp:developers:update-developer' developer.id %}?next={{ request.get_full_path }}">{% trans "edit" %}</a>
                <a href="{% url 'adminp:developers:delete-developer' developer.id %}">{% trans "delete" %}</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">table is empty</td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}