{% extends "admin/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Companies" %}{% endblock %}

{% block content %}
    <h3>{% trans "Companies" %}</h3>
    <p>
        <a href="{% url 'admin:customers:add-company' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
            {% trans "Add company" %}
        </a>
    </p>
    <table class="table">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Contact Email" %}</th>
            <th>{% trans "Web Site" %}</th>
            <th>{% trans "Company Description" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>

    {% for company in companies %}
        <tr>
            <td>
                <a href="{% url 'admin:customers:update-company' company.id %}?next={{ request.get_full_path }}">{{ company }}</a>
            </td>
            <td>{{ company.email }}</td>
            <td>{{ company.web_site }}</td>
            <td>{{ company.description }}</td>
            <td>
                <a href="{% url 'admin:customers:update-company' company.id %}?next={{ request.get_full_path }}">{% trans "edit" %}</a>
                <a href="{% url 'admin:customers:delete-company' company.id %}">{% trans "delete" %}</a>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="6">table is empty</td></tr>
    {% endfor %}

    </table>
{% endblock %}