{% extends "admin/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Project details" %}{% endblock %}

{% block content %}
    <h3>{% trans "Project details" %}</h3>
    <div class="row">
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>{% trans "Project Name:" %}</dt>
                <dd>{{ project }}</dd>
                <dt>{% trans "Billable:" %}</dt>
                <dd>{{ project.billable }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{% trans "Project Type:" %}</dt>
                <dd>{{ project.project_type }}</dd>
                <dt>{% trans "Project URL:" %}</dt>
                <dd>{{ project.project_url }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{% trans "Date Project Started:" %}</dt>
                <dd>{{ project.date_started }}</dd>
                <dt>{% trans "Date Project Finished:" %}</dt>
                <dd>{{ project.date_finished }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{% trans "Customer:" %}</dt>
                <dd>{{ project.customer }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{% trans "Developer:" %}</dt>
            {% for developer in project.developers.all%}
                <dt></dt>
                <dd>{{ developer }}</dd>
            {% endfor %}
            </dl>
            <p>
                <a href="{% url 'admin:projects:update-project' project.id %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                    {% trans "edit" %}
                </a>
                <a href="{% url 'admin:projects:delete-project' project.id %}" role="button" class="btn btn-primary btn-sm">
                    {% trans "delete" %}
                </a>
            </p>
        </div>
        <div class="col-md-5">
            <dl>
                <dt>{% trans "Project Description:" %}</dt>
                <dd>{{ project.description }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}