{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Правила" %}{% endblock %}

{% block content %}
    <section class="reg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1  lykar-regulation">
                    <h2 class="text-center text-uppercase red">{% trans "Правила  використання сайту" %}</h2>
                    {% include 'regulations/regulations.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}