{% load i18n %}

<p>{% trans "Сайт " %}<a href="{% url 'home' %}"> lykar.com.ua </a>{% blocktrans %} (далі - Сайт) - це соціальний проект,
    створений для відкритого, вільного і безперешкодного обговорення лікарів і працівників медичної галузі України.{% endblocktrans %}</p>
<p>{% blocktrans %}Зареєструвавшись на Сайті, Ви підтверджуєте, що прочитали, зрозуміли і приймаєте дану Угоду Користувача.
    Угода може бути змінена без будь-якого спеціального повідомлення Адміністрацією сервісу {% endblocktrans %}
    <a href="{% url 'home' %}">lykar.com.ua</a>{% blocktrans %} (далі - Адміністрація), нова редакція Угоди вступає в
    силу з моменту її розміщення, якщо інше не передбачено новою редакцією Угоди. Найбільш актуальна редакція Угоди
    користувача завжди знаходиться на сторінці за адресою {% endblocktrans %}<a href="{% url 'regulations' %}">lykar.com.ua/regulations</a></p>
<p>{% blocktrans %}Ваше подальше використання Сайту означає Вашу згоду з цією Угодою Користувача. Якщо Ви не погоджуєтесь
    з цією Угодою Користувача (частково або в цілому) покиньте Сайт і не використовуйте його.{% endblocktrans %}</p>
<ol class="reg-main">
    <li>{% trans "Набуття чинності Угоди користувача:" %}</li>
        <ol>
            <li>{% trans "Угода Користувача набуває чинності з моменту початку використання Сайту користувачем." %}</li>
        </ol>
    <li>{% trans "Реєстрація, пароль і безпека:" %}</li>
        <ol>
            <li>{% blocktrans %}Після завершення процесу реєстрації Ви отримаєте логін і пароль для доступу до
                персоналізованої частини Сайту. Ви несете відповідальність за безпеку вашого логіна і пароля, а також
                за все, що буде зроблено на Сайті під Вашим логіном і паролем. Ви погоджуєтеся з тим, що зобов'язані
                негайно повідомити Адміністрацію про будь-який випадок неавторизованого (без Вашого відома і згоди)
                доступу з використанням Вашого логіна та пароля, про будь-яке порушення безпеки. Адміністрація не
                відповідає за можливе псування або втрату даних, яка може статися через порушення Вами положень з цієї
                частини Угоди Користувача.{% endblocktrans %}</li>
        </ol>
    <li>{% trans "Відповідальність Адміністрації Сайту:" %}</li>
        <ol>
            <li>{% trans "Адміністрація не несе відповідальності за зміст інформації, розміщеної користувачами;" %}</li>
            <li>{% blocktrans %}Додана користувачами інформація перевіряється в режимі постмодерації, тобто спочатку
                відбувається додавання інформації в базу даних і відображення її на Сайті, а потім її перевірка;{% endblocktrans %}</li>
            <li>{% blocktrans %}Сайт є відкритим для загального доступу, і будь-яка інформація, наведена на Сайті,
                носить оглядовий, довідково-енциклопедичний характер, може бути неповною, неточною або помилковою;{% endblocktrans %}</li>
            <li>{% blocktrans %}Відгуки користувачів на Сайті є суб'єктивними думками їхніх авторів, жодним чином не
                претендують на об'єктивність. Вони можуть не збігатися з громадською думкою і не відповідати дійсності;{% endblocktrans %}</li>
            <li>{% blocktrans %}Всі претензії щодо достовірності та правомірності інформації, а також претензії щодо
                авторських прав на інформацію пред'являються безпосередньо користувачеві, який розмістив дану інформацію;{% endblocktrans %}</li>
            <li>{% blocktrans %}Реєстраційні дані про користувача Адміністрація може повідомити тільки відповідно до
                законодавства України;{% endblocktrans %}</li>
            <li>{% trans "Адміністрація не несе відповідальності за дані, зазначені користувачем при реєстрації;" %}</li>
            <li>{% trans "Адміністрація не відповідає за будь-яку поведінку користувачів, які переглядають Сайт;" %}</li>
            <li>{%  blocktrans %}Адміністрація залишає за собою право видалити акаунт користувача, чи обмежити,
                призупинити або припинити доступ користувача до будь яких сервісів Сайту, якщо, на думку Адміністрації,
                даний користувач становить загрозу для Сайту або інших користувачів;{%  endblocktrans %}</li>
            <li>{% blocktrans %}Адміністрація не несе відповідальності за будь-які збитки комп'ютеру користувача,
                мобільним пристроям, будь-якому іншому обладнанню або програмному забезпеченню, викликані або пов'язані
                з викачуванням матеріалів Сайту або за посиланнями, розміщеними на Сайті;{% endblocktrans %}</li>
            <li>{% blocktrans %}Адміністрація не несе відповідальності за будь-які технічні збої або інші проблеми
                будь-яких телефонних мереж або служб, комп'ютерних систем, серверів або провайдерів, комп'ютерного або
                телефонного обладнання, програмного забезпечення, збоїв сервісів електронної пошти або скриптів з
                технічних причин.{% endblocktrans %}</li>
        </ol>
    <li>{% trans "Права користувача:"%}</li>
        <ol>
            <li>{% blocktrans %}Права та обов'язки користувача сайту набувають чинності з моменту його першого
                звернення до будь-якої з веб-сторінок, які входять до складу Сайту;{% endblocktrans %}</li>
            <li>{% blocktrans %}Здійснення прав користувача в повному обсязі можливе після реєстрації користувача.
                Для реєстрації користувачеві необхідно вказати логін, адресу електронної пошти і пароль. З моменту
                підтвердження реєстрації та активації облікового запису користувач набуває статусу зареєстрованого
                користувача;{% endblocktrans %}</li>
            <li>{% blocktrans %}Користувач має право розірвати стосунки з Адміністрацією, звернувшись безпосередньо
                до адміністратора з проханням видалення його акаунта.{% endblocktrans %}</li>
        </ol>
    <li>{% trans "Обов'язки Користувача:" %}</li>
        <ol>
            <li>{% trans "При використанні Сайту дотримуватися норм моралі та етикету;" %}</li>
            <li>{% trans "Не перешкоджати роботі Сайту;" %}</li>
            <li>{% trans "Користувач погоджується не використовувати Сайт для:" %}</li>
                <ol>
                    <li>{% blocktrans %}завантаження, відправлення, передачі або будь-якого іншого способу публікації
                        матеріалів, які є незаконними, шкідливими, загрозливими, такими, що ображають моральність,
                        наклепницькими, такими, що порушують авторські права, пропагують ненависть і / або
                        дискримінацію людей за расовою, етнічною, статевою, соціальною ознаками, будь-якої іншої
                        інформації, що порушує охоронювані законом права людини і громадянина;{% endblocktrans %}</li>
                    <li>{% trans "ущемлення прав меншин;" %}</li>
                    <li>{% trans "порушення прав неповнолітніх та / або заподіяння їм шкоди в будь-якій формі;" %}</li>
                    <li>{% blocktrans %}опису та / або пропаганди злочинної діяльності, розміщення інструкції або
                        керівництва по здійсненню злочинних дій;{% endblocktrans %}</li>
                    <li>{% blocktrans %}введення користувачів і Адміністрацію Сайту в оману щодо своєї особи,
                        використовуючи акаунт іншої людини;{% endblocktrans %}</li>
                    <li>{% blocktrans %}реєстрації більш ніж одного користувальницького акаунта, реєстрації
                        користувальницького акаунта від імені особи, якою Ви не є, а також реєстрації акаунта групи
                        осіб чи організацій;{% endblocktrans %}</li>
                    <li>{% blocktrans %}розміщення будь-якої інформації, що порушує особисті права користувачів або
                        третіх осіб на об'єкти інтелектуальної або приватної власності;{% endblocktrans %}</li>
                    <li>{% blocktrans %}розміщення на Сайті адрес, номерів телефонів, адрес електронної пошти,
                        паспортних даних та іншої особистої інформації інших користувачів або будь-яких третіх осіб
                        без їх особистої згоди на такі дії;{% endblocktrans %}</li>
                    <li>{% blocktrans %}завантаження, відправлення, передачі або будь-якого іншого способу публікації
                        дозволеної спеціальним чином рекламної інформації, комерційних пропозицій, агітаційних
                        матеріалів, спаму, повідомлень-ланцюжків (повідомлення, що вимагають їх передачі одному або
                        декільком користувачам), а також неодноразову неузгоджену посилку листів одному адресату.
                        (Не вважаються спамом повідомлення Адміністрації, спрямовані користувачам і такі, що містять
                        організаційно-технічну інформацію про Сайт);{% endblocktrans %}</li>
                    <li>{% blocktrans %}завантаження, відправлення, передачі або будь-якого іншого способу публікації
                        будь-яких файлів, які містять або можуть містити віруси та інші шкідливі програми, а також
                        серійні номери до комерційних програмних продуктів і програми для їх генерації, логіни,
                        паролі та інші засоби для отримання несанкціонованого доступу до платних ресурсів в Інтернеті,
                        а також розміщення посилань на вищезгадану інформацію;{% endblocktrans %}</li>
                    <li>{% blocktrans %}спеціального або випадкового порушення будь-яких регіональних, державних
                        або міжнародних законів;{% endblocktrans %}</li>
                    <li>{% trans "збору і зберігання персональних даних інших користувачів;" %}</li>
                    <li>{% trans "використання автоматизованих скриптів (програм) для збору інформації з Сайту;" %}</li>
                    <li>{% blocktrans %}спроб отримання доступу до чужого акаунту будь-яким способом, у тому числі
                        шляхом злому, всупереч волі особи, якій він належить;{% endblocktrans %}</li>
                    <li>{% trans "порушення функціонування роботи Сайту, його сервісів незалежно від способу використання." %}</li>
                </ol>
        </ol>
    <li>{% trans "Загальна інформація:" %}</li>
        <ol>
            <li>{% blocktrans %}Якщо інше не встановлено додатковою угодою між Користувачем і Адміністрацією Сайту,
                то всі претензії і питання, інша кореспонденція повинні направлятися за адресою {% endblocktrans %}
                <a href="mailto:info@lykar.com.ua">info@lykar.com.ua</a></li>
            <li>{% blocktrans %}Дані правила є угодою між Користувачем і Адміністрацією щодо порядку використання
                Сайту і його сервісів;{% endblocktrans %}</li>
            <li>{% blocktrans %}Ніщо в Угоді Користувача не може розумітися як встановлення між користувачем і
                Адміністрацією Сайту агентських відносин, відносин товариства, відносин по спільній діяльності,
                відносин особистого найму, або якихось інших відносин, прямо не передбачених Угодою Користувача.{% endblocktrans %}</li>
            <li>{% blocktrans %}Бездіяльність з боку Адміністрації Сайту в разі порушення користувачем положень
                Угоди користувача не позбавляє Адміністрацію Сайту права зробити відповідні дії на захист своїх
                інтересів пізніше.{% endblocktrans %}</li>
        </ol>
</ol>