{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% trans "Відгуки про лікарів, лікарні Івано-Франківська" %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Library css -->
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <!-- Favicons -->
        <link rel="shortcut icon" href="{% static "img/ico/favicon.ico" %}">
        <link rel="apple-touch-icon" href="{% static "img/ico/apple-touch-icon.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/ico/apple-touch-icon-72.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/ico/apple-touch-icon-114.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/ico/apple-touch-icon-144.png" %}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Header -->
        <header class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static "img/lykar.png" alt="lykar logo" %}" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right text-uppercase">
                        <li><a href="#" data-toggle="modal" data-target="#logIn">{% trans "Вхід" %}</a></li>
                        <li><a href="accounts/registration/" data-toggle="modal" data-target="#signUp">{% trans "Реєстрація" %}</a></li>
                    </ul>
                </div>
            </div>
        </header> <!-- End Header -->

        <!-- Modal LogIn -->
        <div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="float-left text-left text-uppercase">{% trans "Вхід" %}</div>
                        <div class="text-right">{% trans "Ще немає облікового запису?" %}
                            <a href="#">{% trans " Зареєструватися" %}</a>
                        </div>
                    </div>
                    <div class="modal-body color-scheme-grey">
                        <div class="text-center text-uppercase modal-soc">{% trans "Ввійти через:" %}</div>
                        <ul class="line text-center">
                            <li><a href="#" class="facebook"><img src="{{ STATIC_URL }}img/facebook.png" alt="facebook" /></a></li>
                            <li><a href="#" class="vkontakte"><img src="{{ STATIC_URL }}img/vkontakte.png" alt="vkontakte" /></a></li>
                            <li><a href="#" class="google_plus"><img src="{{ STATIC_URL }}img/google_plus.png" alt="google_plus" /></a></li>
                            <li><a href="#" class="odnoklassniki"><img src="{{ STATIC_URL }}img/odnoklassniki.png" alt="odnoklassniki" /></a></li>
                        </ul>
                        <div class="text-center text-uppercase modal-em">{% trans "Або ввійти через email:" %}</div>



                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "email:" %}</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "пароль:" %}</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">{% trans " Запам'ятати мене" %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase">{% trans "Ввійти" %}</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="text-left">
                                        <a href="#">{% trans "Забули пароль?" %}</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- End Modal LogIn -->

        <!-- Modal SignUp -->
        <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div> <!-- End Modal SignUp -->

        <!-- Block Content -->
        {% block content %}{% endblock %}

        <!-- Block Footer -->
        <footer class = "color-scheme-grey text-center">
            <hr class = "lykar-separator" />
            <div class="container">
                <div class="row">
                    <div class="col-md-2 padding">
                        <img src="{% static "img/lykar.png" alt="lykar logo" %}" />
                        <p>{% trans "Відгуки про лікарів" %}</p>
                    </div>
                    <div class="col-md-8">
                        <ul class="line padding-top text-uppercase red">
                            <li><a href="#">{% trans "Правила" %}</a></li>
                            <li><a href="#">{% trans "Реклама" %}</a></li>
                            <li><a href="#">{% trans "FAQ" %}</a></li>
                            <li><a href="#">{% trans "Контакти" %}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 padding">
                        <span class="text-uppercase">{% trans "Приєднуйся: " %}</span>
                        <ul class="line">
                            <li>
                                <a href="#" class="facebook">
                                    <img src="{% static "img/facebook.png" alt="facebook" %}" />
                                </a>
                            </li>
                            <li>
                                <a href="#" class="vkontakte">
                                    <img src="{% static "img/vkontakte.png" alt="vkontakte" %}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>
                            <span class="glyphicon glyphicon-copyright-mark"></span> 2014
                            <a href="{% url 'home' %}">{% trans "lykar.com.ua" %}</a>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <p class="lykar-copyright">
                            {% blocktrans %}Інформація, розміщена на сайті, отримана з відкритих джерел і відповідальність за її достовірність lykar.com.ua не несе. Відгуки є об’єктивними судженнями їх авторів і не мають відношення до редакції сайту. Відповідальність за достовірність відгуку несе його автор. Заборонено будь-яке використання матеріалів сайту без письмового дозволу адміністрації.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </footer> <!-- End Block Footer -->
        <!-- The Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>
