{% load i18n %}
{% load staticfiles %}

        <footer class="footer text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="line padding-top text-uppercase red">
                            <li><a href="{% url 'regulations' %}">{% trans "Правила" %}</a></li>
                            <li><a href="{% url 'contacts:index' %}">{% trans "Контакти" %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 hidden-xs hidden-sm">
                        <p>
                            <span class="glyphicon glyphicon-copyright-mark"></span> 2015
                            <a href="{% url 'home' %}">{% trans "lykar.com.ua" %}</a><br />
                            <span>Відгуки про лікарів</span>
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p class="lykar-copyright hidden-xs hidden-sm">
                            {% blocktrans %}Інформація, розміщена на сайті, отримана з відкритих джерел і відповідальність за її достовірність lykar.com.ua не несе. Відгуки є об’єктивними судженнями їх авторів і не мають відношення до редакції сайту. Відповідальність за достовірність відгуку несе його автор. Заборонено будь-яке використання матеріалів сайту без письмового дозволу адміністрації.{% endblocktrans %}
                        </p>
                    </div>
                    <div class="col-md-2">
                        <span class="text-uppercase">{% trans "Приєднуйся: " %}</span>
                        <ul class="line">
                            <li>
                                <a href="https://www.facebook.com/groups/lykar.com.ua/" target="_blank" class="facebook">
                                    <img src="{% static "img/facebook.png" %}" alt="facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="http://vk.com/lykarcomua" target="_blank" class="vkontakte">
                                    <img src="{% static "img/vkontakte.png"%}" alt="vkontakte" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/lykar.js" %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#id_city").on('change blur', function() {
                    var city = $("#id_city").val();
                    var request = "city=" + city;
                    $.get("/doctors/ajax_test/", request, function(data) {
                        $("#id_hospitals").html(data.hospitals)
                    });
                });
            });
        </script>

    {% block js %}
        <script type="text/javascript">
            $(document).ready(function(){
                var link = window.location.pathname;
                $('.menu li a[href="'+link+'"]').parent().addClass('active');
            })
        </script>
    {% endblock js %}

    </body>
</html>
