{% load i18n %}
<aside>
    <div class = "row">
        <div class = "col-md-12 lykar-sidebar-block text-center">
            <h2>Популярні лікарі</h2>
            <hr />
            <div class="row lykar-sidebar-block-padding">

                {% for doctor in doctors %}
                    <div class="col-xs-4 col-sm-2 col-md-4 lykar-sidebar-team-padding">
                        <div class="lykar-sidebar-team">
                        {% if doctor %}
                            <a href="{% url 'doctors:doctor_profile' doctor.id %}">
                                <img src="{{ MEDIA_URL }}doctor_photos/doctor_f.png" alt="{{ doctor.first_name }} {{ doctor.last_name }}" class="img-responsive img-circle center-block" />
                                {{ doctor.last_name }}<br/>
                                {{ doctor.first_name }}<br/>
                            </a>
                            {{ doctor.speciality }}
                        {% else %}
                            {% trans "В БД не має жодного лікаря" %}
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</aside>
