{% autoescape off %}
Ви отримали цей лист, тому що Ви запросили скидання пароля для облікового запису користувача на {{site_name}}.

Будь ласка, перейдіть на наступну сторінку, щоб вибрати новий пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваше ім'я користувача: {{user.username}}

Дякуємо, що користуєтесь нашим сайтом!

Команда {{site_name}}.

Якщо ви не відсилали запит для відновлення пароля, видаліть цей лист.
{% endautoescape %}