{% extends "adminp/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Projects" %}{% endblock %}

{% block content %}
    <h3>{% trans "Projects" %}</h3>
    <p>
        <a href="{% url 'adminp:projects:add-project' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
            {% trans "Add project" %}
        </a>
    </p>
    <table class="table">
        <tr>
            <th>{% trans "Project Name" %}</th>
            <th>{% trans "Billable" %}</th>
            <th>{% trans "Project URL" %}</th>
            <th>{% trans "Date Project Started" %}</th>
            <th>{% trans "Date Project Finished" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>

    {% for project in projects %}
        <tr>
            <td><a href="{% url 'adminp:projects:details' project.id %}">{{ project }}</a></td>
            <td>{{ project.billable }}</td>
            <td>{{ project.project_url }}</td>
            <td>{{ project.date_started }}</td>
            <td>{{ project.date_finished }}</td>
            <td>
                <a href="{% url 'adminp:projects:update-project' project.id %}?next={{ request.get_full_path }}">{% trans "edit" %}</a>
                <a href="{% url 'adminp:projects:delete-project' project.id %}">{% trans "delete" %}</a>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="6">table is empty</td></tr>
    {% endfor %}

    </table>
{% endblock %}