{% extends "adminpanel/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Форма група" %}{% endblock %}

{% block menu_name %}{% trans "Форма група" %}{% endblock %}

{% block content %}
    <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="next" value="{{request.GET.next}}" />
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>{{ form.name.label }}*</dt>
                    <dd>{{ form.name }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.name.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.permissions.label }}*</dt>
                    <dd>{{ form.permissions }}</dd>
                    <dt></dt>
                    <dd class="add-button">
                        <a href="{% url 'adminpanel:permissions:add-permission' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                            {% trans "Додати дозвіл" %}
                        </a>
                    </dd>
                    <dd class="text-warning">{{ form.permissions.errors }}</dd>
                </dl>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Зберегти" />
    </form>
{% endblock %}