{% extends "adminpanel/base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Project form" %}{% endblock %}

{% block content %}
    <h3>{% trans "Project form" %}</h3>
    <form action="" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type="hidden" name="next" value="{{request.GET.next}}" />
        <div class="row">
            <div class="col-md-7">
                <dl class="dl-horizontal">
                    <dt>{{ form.name.label }}*</dt>
                    <dd>{{ form.name }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.name.errors }}</dd>
                    <dt>{{ form.billable.label }}</dt>
                    <dd>{{ form.billable }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.project_type.label }}*</dt>
                    <dd>{{ form.project_type }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.project_type.errors }}</dd>
                    <dt>{{ form.project_url.label }}</dt>
                    <dd>{{ form.project_url }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.project_url.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.date_started.label }}</dt>
                    <dd>{{ form.date_started }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.date_started.errors }}</dd>
                    <dt>{{ form.date_finished.label }}</dt>
                    <dd>{{ form.date_finished }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.date_finished.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.customer.label }}</dt>
                    <dd>{{ form.customer }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.customer.errors }}</dd>
                    <dt></dt>
                    <dd>
                        <a href="{% url 'adminpanel:customers:add-customer' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                            {% trans "Add customer" %}
                        </a>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.developers.label }}*</dt>
                    <dd>{{ form.developers }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.developers.errors }}</dd>
                    <dt></dt>
                    <dd>
                        <a href="{% url 'adminpanel:developers:add-developer' %}?next={{ request.get_full_path }}" role="button" class="btn btn-primary btn-sm">
                            {% trans "Add developer" %}
                        </a>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>{{ form.image.label }}*</dt>
                    <dd>{{ form.image }}</dd>
                    <dt></dt>
                    <dd class="text-warning">{{ form.image.errors }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd><small>* Required Fields</small></dd>
                </dl>
            </div>
            <div class="col-md-5">
                <dl>
                    <dt>{{ form.description.label }}</dt>
                    <dd>{{ form.description }}</dd>
                </dl>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
{% endblock %}